<form #taskForm="ngForm">



    <div class="container-fluid border-bottom mb-2">

        <div class="container w-75 text-center mt-2">
            <span class="text-uppercase fw-bold">Task Management   </span>
        </div>

        <div class="container w-75 mt-2 " style="height: 25px;">
            <a type="button" id="back"
                (click)="goBack()" >
                <i class="fa-solid fa-arrow-left"></i>&nbsp;Back
            </a>
        </div>

        <div *ngIf="task && task.taskId" class="container w-75 fw-bold text-center align-middle"
                        style=" background-color: lightblue;">
                        <span>TASK N° {{task.taskId}}</span>
        </div>

        <div class="container w-75 mt-5 " style="height: 25px;">
            <a type="button" id="back"
                (click)="saveTask()" >
                <i class="fa-solid fa-floppy-disk"></i>&nbsp;Save
            </a>

        </div>


        <div class="container w-75 mx-auto  mt-5">
            <div *ngIf="this.errorMessage " class="mx-auto w-75">
                <span class="text-danger ">{{this.errorMessage }}</span>
            </div>

            <div *ngIf="this.infoMessage "  class="mx-auto w-75">
                <span class="text-bg-info">{{this.infoMessage }}</span>
            </div>



            <div class="row   align-items-center mt-2 mb-2 ">
                <!-- <div class="col-auto ">
                <label for="taskId" class="col-form-label ">Task Id</label>
                </div>
                <div *ngIf="pageLoaded && task"  class="col-auto">
                <input [(ngModel)]="task.taskId" type="text"
                            id="taskId"
                            name="taskId"
                            class="form-control" disabled
                            style="width: 50px;">
                </div> -->

                <div class="col-auto">
                    <label for="taskId" class="col-form-label">Created On</label>
                    </div>
                    <div *ngIf="pageLoaded && task"  class="col-auto">
                    <input [(ngModel)]="task.createdOn " type="text"
                                id="createdOn"
                                name="createdOn"
                                class="form-control" disabled
                                style="width: 150px;">
                    </div>

                <div class="col-auto">
                    <label for="taskId" class="col-form-label">Modified On</label>
                    </div>
                    <div *ngIf="pageLoaded && task"  class="col-auto">
                    <input [(ngModel)]="task.modifiedOn " type="text"
                                id="modifiedOn"
                                name="modifiedOn"
                                class="form-control" disabled
                                style="width: 150px;">
                    </div>
            </div>
            <div class="row mt-5  align-items-center">


                <div class="col-auto mt-2">
                    <label for="taskId" class="col-form-label">Title</label>
                </div>
                <div *ngIf="pageLoaded && task" class="col-auto">
                    <input [(ngModel)]="task!.taskTitle"
                                (ngModelChange)="checkTitle()"
                                placeholder="Task Title"
                                type="text"
                                id="taskTitle"
                                name="taskTitle"
                                class="form-control"
                                style="width: 300px;"/>
                    <small *ngIf="this.taskTitleErrorMessage"
                            class="text-danger  mb-2  " >
                        {{this.taskTitleErrorMessage}}
                    </small>
                </div>

                <div class="col-auto">
                    <label for="taskId" class="col-form-label">Description</label>
                </div>
                <div *ngIf="pageLoaded && task"  class="col-auto">
                    <input [(ngModel)]="task!.taskDescription" type="text"
                                id="taskDescription"
                                name="taskDescription"
                                class="form-control"
                                style="width: 350px;"/>

                </div>

                <div class="col-auto">
                    <label for="taskId" class="col-form-label">Priority</label>
                </div>
                <div *ngIf="pageLoaded"  class="col-auto">
                    <select   class="form-select "
                                name="prioId"
                                id="prioId"
                                style="width: 100px;"
                                (change)="onChangePrio($any($event.target).value)" >
                        <option > --- SELECT ---</option>
                        <option *ngFor="let prio of prios"
                            [value]="prio.priorityId"
                            [selected]="prio.priorityId == this.task?.taskPriority?.priorityId">
                            {{prio.priorityName}}
                        </option>
                    </select>

                    <small *ngIf="this.taskPriorityErrorMessage"
                            class="text-danger">
                        {{this.taskPriorityErrorMessage}}
                    </small>
                </div>


            </div>

            <div class="row mt-5  align-items-center">

                <div class="col-auto">
                    <label for="taskId" class="col-form-label">Assigned To</label>
                </div>
                <div  class="col-auto">

                    <select *ngIf="this.task "
                            class="form-select "
                            name="assignedTo"
                            id="assignedTo"
                            style="width: 180px;"
                            (ngModelChange)="changeUser($event)"
                            [(ngModel)]="selectedUserObj">
                        <option> --- SELECT ---</option>
                        <option *ngFor="let u of users"
                            [ngValue]="u"
                            [selected]="u.userId == selectedUserObj?.userId">
                            {{u.lastName}} {{u.firstName}}
                        </option>
                    </select>
                </div>

                <div class="col-auto mt-2">
                    <label for="startDate" class="col-form-label">Start</label>
                </div>
                <div *ngIf="pageLoaded && task" class="col-auto">
                    <input [(ngModel)]="task!.startDate"
                                placeholder="Task Title"
                                type="datetime-local"
                                id="startDate"
                                name="startDate"
                                class="form-control"
                                style="width: 170px;"/>
                </div>

                <div class="col-auto mt-2">
                    <label for="endDate" class="col-form-label">End</label>
                </div>
                <div *ngIf="pageLoaded && task" class="col-auto">
                    <input [(ngModel)]="task!.endDate"
                                placeholder="Task Title"
                                type="datetime-local"
                                id="endDate"
                                name="endDate"
                                class="form-control"
                                style="width: 170px;">
                </div>

                <div class="col-auto mt-2">
                    <label for="startDate" class="col-form-label">Accomplished</label>
                </div>
                <div *ngIf="pageLoaded && task" class="col-auto">
                    <input   (click)="setAcommplished($any($event.target).checked)"
                                type="checkbox"
                                id="accomplished"
                                name="accomplished"
                                class="form-check"  >
                </div>
            </div>
        </div>

        <div *ngIf="!this.newTask" class="container w-50 mx-auto h-25  mt-5">
            <div class="container  mt-2">
                <div class="container text-center align-middle fw-bold"
                        style="height: 25px; background-color: lightgrey;">Files</div>

                <div class="container text-left border-bottom text-primary mt-2">
                    <a type="button" id="back"
                        (click)="insertFile()" >
                        <i class="fa-solid fa-plus-circle"></i>Add
                    </a>
                </div>

                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Extension</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of taskFiles">
                                <td *ngIf="!file.fileName"><input type="file" id="fileId" (change)="selectFile($event)"> </td>
                                <td *ngIf="file.fileName"><span type="text" id="fileId" name="fileId">{{file.fileName}}</span> </td>
                                <td>{{file.extension}}</td>
                                <td>
                                    <div class="row text-primary align-middle">

                                        <div *ngIf="!file.fileName" class="col-sm-2 ">
                                            <a type="button" id="back"
                                                (click)="saveFile( )" >
                                                <i class="fa-solid fa-floppy-disk"></i>
                                            </a>
                                        </div>

                                        <div class="col-sm-2">
                                            <a type="button" id="back"
                                                (click)="selectFileToDelete(file)" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modalFileDelete">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>

                                        <div class="col-sm-2">
                                            <a type="button" id="back"
                                                (click)="openFile(file)" >
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="modal fade" id="modalFileDelete" data-bs-backdrop="static" data-bs-keyboard="false" 
                tabindex="-1" 
                aria-labelledby="staticBackdropLabel" 
                aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalFileDeleteLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-lg-center">
                <span>Do you want to delete the file {{this.selectedFileToDelete?.fileName}}?</span>
                <br> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="deleteFile()" data-bs-dismiss="modal">Yes</button> 
                <button type="button" class="btn btn-danger" (click)="releaseFile()" data-bs-dismiss="modal">Non</button> 
            </div>
        </div>
        </div>
    </div>

    </div>
</form>
